# Environments
Include/
Lib/
Scripts/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Kedro
data/01_raw/
data/02_intermediate/
data/03_primary/
data/04_feature/
data/05_model_input/
data/06_models/
data/07_model_output/
data/08_reporting/
logs/
.ipython/
.jupyter/

# React/Node
node_modules/
dist/
build/
.env

# OS
.DS_Store
Thumbs.db

backend/data/
